.side-setting {
  position: fixed;
  background-color: rgb(149, 143, 138);
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  left: 0px;
  top: 75px;
  width: 200px;
  height: 600px;
  z-index: 1;
}
.setting {
  cursor: pointer;
  position: relative;
  font-size: 28px;
  height: 35px;
  border-bottom: 2px solid black;
  padding-left: 8px;
  padding-bottom: 4px;
  transition: 0.15s;
  padding-top: 4px;
}

.expand {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 15px;
  font-size: 28px;
  color: rgba(181, 13, 13, 0.666);
  transition: 0.15s;
}
.expand:active{
  opacity: 0.6;
  color: black;
}

.info {
  width: 600px;
}
.show-more {
  position: absolute;
  display: none;
  font-size: 16px;
  white-space: nowrap;
  color: white;
  background-color: darkgrey;
  z-index:100;
  left: 0px;
  top: 43px;
  border-style: solid;
}
.show-more div {
  border-width: 2px;
  padding: 4px 4px 6px 6px;
  border-style: solid;
  border-color: white;
}

.setting:hover .show-more  {
  display: block;
}
.show-more div {
  cursor: pointer;
}
.show-more div:hover {
  
  opacity: 0.5;
  color: black;
}

.general-rules {
  display: block;
  height: 450px;
  padding-top: 25px;
  margin-left: 300px;
  background-color: honeydew;
  margin-right: 100px;
  position: relative;
  border-radius: 20px;
}

.general-rules p {
  display: inline;
  margin-left: 20px;
  background-color: rgb(25, 162, 157);
  margin-top: 50px;
  line-height: 18px;
  font-size: 18px;
  color: black;
  padding: 6px;
  border-radius: 15px;
}
.general-rules ul {
  line-height: 6px;
}
