
.header {
  vertical-align: middle;
  /* margin:0px; */
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: chocolate;
  align-items: center;
  position:fixed;
  border-radius: 20px; 
  top:0;
  width: 100%;
}
.flex-left{
  margin-left:45px;
  margin-right: 10px;
  width: 150px;
  /* margin-left: 70px; */
  /* padding-left: 80px; */
  font-size: 26px;
  color: rgb(65, 235, 195);
  font-weight: 700;
  font-style: italic; 
}

.flex-middle {
  /* margin:0px; */
  /* margin-left: 40px; */
  flex:1;
  display: flex;
  align-items: center;
  
  /* margin-right: 70px; */
  /* min-width: 100px; */
  /* background-color: darkkhaki; */
  /* max-width: auto; */
}
.search-bar {
  /* width: 100%; */
  max-width: 75%;
  flex: 1;
  width: 0px;
  height: 35px;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: darksalmon;
  background-color: rgb(124, 195, 214);
  text-align: center;
  min-width: 150px;
  
  /* cursor:text; */
}
.search-bar:focus{
  border-color: yellow;
}


.flex-right {
  margin-right: 20px;
  margin-left: 30px;
  
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  /* margin-right: 20px; */
  /* grid-template-columns: 1fr 1fr 1fr;
  padding-right: 30px;
  column-gap: 25px;
  margin-right: 10px; */
  
  /* width: 400px; */
}

.skill-icon {
  cursor: pointer;
  font-size: 20px;
  height:45px;
  width: 85px;
  border-radius: 100px;
  border-width: 5px;
  /* width: 100%; */
  border-color: aquamarine;
  border-style:solid;
  transition: 0.15s;
}
.skill-icon:active {
  border-style: ridge;
  opacity: 0.6;
}







